html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.video-background {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.35);
}

.container {
    min-width: 580px;
    min-height: 304px;
    margin: 0 auto;
    color: black;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    border-radius: 5px;
    padding: 25px 50px;
    justify-content: center;
    z-index: 2;
}


/* media queries for responsive design */
@media screen and (max-width:685px) {
    .video-background {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        object-position: 70%;
    }

    .container {
        min-width: unset;
        width: 95vw;
        height: 245px;
        margin: 10px;
        padding: 20px;
    }
}